/out/production/calculator/.idea/.gitignore
/out/production/calculator/Calculator.class
/out/production/calculator/.idea/calculator.iml
/out/production/calculator/.idea/misc.xml
/out/production/calculator/.idea/modules.xml
/out/production/calculator/README.md
/out/production/calculator/.idea/vcs.xml
